<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.gov.fatecsjc.children_safe" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdmLoginActivity"
            android:label="@string/title_activity_adm_login" >
        </activity>
        <activity
            android:name=".AdmMainActivity"
            android:label="@string/title_activity_adm_main" >
        </activity>
        <activity
            android:name=".CadPaisActivity"
            android:label="@string/title_activity_cad_pais" >
        </activity>
        <activity
            android:name=".AppsInstaladosActivity"
            android:label="@string/title_activity_apps_instalados" >
        </activity>
        <activity
            android:name=".AppsBloqueadosActivity"
            android:label="@string/title_activity_apps_bloqueados" >
        </activity>
    </application>

</manifest>
